<div class="container" id="registration">
    <div class="row">
        <div class="container">
            <h1 class="display-2 text-center">Payment Successful</h1>
            <hr>

        </div>
        <div class="col-lg-3">
            <img src="/images/tick.png" class="img-fluid" alt="">
        </div>
        <div class="col-lg-3 col-sm-offset-5">
           <h1 class="text-center">{{pay.full_name}} your payment of NGN {{payAmount}}  was successful</h1>
        </div>
    </div>

</div>















